{% extends "base.html" %}
{% load static %}

{% block content %}
<span
    id="gameHash"
    data-url="{%url 'game_hash' game_id=game.pk%}"
    data-hash="{{game.game_hash}}"
    {%if turn%}
        data-turn="1"
    {%else%}
        data-turn="0"
    {%endif%}
    ></span>

<div class="flex">
    <div id="right-sidebar" class="sidebar">
        <strong>{{ player }}</strong>
        <div class='state'>
            {% if turn %}
            <em>{{ turn.get_state_display }}</em>
            {% else %}
            <em>Waiting</em>
            {% endif %}
        </div>
        {% if turn %}
        <div id="actions">Actions <span class="float-right">({{ turn.available_actions }})</span></div>
        <div id="buys">Buys <span class="float-right">({{ turn.available_buys }})</span></div>
        <div id="money">Money <span class="float-right">({{ turn.available_money }})</span></div>
        <div id="end-phase">
            <form method="POST" action="{% url 'turns_end_phase' turn_id=turn.pk %}">
                {% csrf_token %}
                <button>End Phase</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div id="body">
        <h2>KINGDOM</h2>
        <span 
            class="card"
            data-name="{{game.real_kingdom.Gold.card.name}}"
            {%if turn.state == 'buy'%}
                data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
            {%endif%}
        >
            <img src="{{ game.real_kingdom.Gold.card.url }}" />
        </span>
        <span 
            class="card"
            data-name="{{game.real_kingdom.Silver.card.name}}"
            {%if turn.state == 'buy'%}
                data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
            {%endif%}
        >
            <img src="{{ game.real_kingdom.Silver.card.url }}" />
        </span>
        <span 
            class="card"
            data-name="{{game.real_kingdom.Copper.card.name}}"
            {%if turn.state == 'buy'%}
                data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
            {%endif%}
        >
            <img src="{{ game.real_kingdom.Copper.card.url }}" />
        </span>
        <span 
            class="card"
            data-name="{{game.real_kingdom.Province.card.name}}"
            {%if turn.state == 'buy'%}
                data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
            {%endif%}
        >
            <img src="{{ game.real_kingdom.Province.card.url }}" />
            <div class="count">{{ game.real_kingdom.Province.count }}</div>
        </span>
        <span 
            class="card"
            data-name="{{game.real_kingdom.Duchy.card.name}}"
            {%if turn.state == 'buy'%}
                data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
            {%endif%}
        >
            <img src="{{ game.real_kingdom.Duchy.card.url }}" />
            <div class="count">{{ game.real_kingdom.Duchy.count }}</div>
        </span>
        <span 
            class="card"
            data-name="{{game.real_kingdom.Estate.card.name}}"
            {%if turn.state == 'buy'%}
                data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
            {%endif%}
        >
            <img src="{{ game.real_kingdom.Estate.card.url }}" />
            <div class="count">{{ game.real_kingdom.Estate.count }}</div>
        </span>
        <span 
            class="card"
            data-name="{{game.real_kingdom.Curse.card.name}}"
            {%if turn.state == 'buy'%}
                data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
            {%endif%}
        >
            <img src="{{ game.real_kingdom.Curse.card.url }}" />
            <div class="count">{{ game.real_kingdom.Curse.count }}</div>
        </span>
        </br>
        </br>
        {% for row in game.real_kingdom.values %}
            {% if row.card.name in "Gold,Silver,Copper,Province,Duchy,Estate,Curse" %}
            {% else %}
                <span 
                    class="card"
                    data-name="{{row.card.name}}"
                    {%if turn.state == 'buy'%}
                        data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
                    {%endif%}
                >
                    <img src="{{ row.card.url }}" />
                    <div class="count">{{ row.count }}</div>
                </span>
            {% endif %}
        {% endfor %}
    </div>
    <div id="left-sidebar" class="sidebar">
        TODO Opponent info
    </div>
</div>
<div id="played-cards">
    <div class="centered">
        Played Cards
    </div>
    {% for card in deck.real_played_cards %}
    <span class="card">
        <span class="card-name">
            <img src="{{ card.url }}" />
        </span>
    </span>
    {% endfor %}
</div>
<div id="hand">
    <div class="centered">
        Hand
    </div>
    <span class="card pull-left">
        <img src="{% static 'images/card_back.jpg' %}" />
        <div class="count">{{ deck.draw_pile|length }}</div>
    </span>
    {% for card in deck.real_hand %}
    <span class="card"
        draggable="true"
        {%if turn.state == 'action' and turn.available_actions > 0%}
            {%if card.is_action%}
                data-url="{%url 'games_play_action' game_id=game.pk%}"
            {%endif%}
        {%endif%}
        {%if turn.state == 'buy'%}
            {%if card.is_treasure%}
                data-url="{%url 'games_play_treasure' game_id=game.pk%}"
            {%endif%}
        {%endif%}
        data-name="{{card.name}}"
    >
        <img src="{{ card.url }}" />
    </span>
    {% endfor %}
    <span class="card pull-right">
        <img src="{% static 'images/card_back.jpg' %}" />
        <div class="count">{{ deck.discard_pile|length }}</div>
    </span>
</div>

<div id="buyModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Do you want to buy <span id="cardName"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body centered">
          <span id="cardImg"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-confirm">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

