{% extends "base.html" %}

{% block content %}
<div class="flex">
    <div id="right-sidebar">
        {% if turn %}
        <ul>
            <li>Actions ({{ turn.available_actions }})</li>
            <li>Buys ({{ turn.available_buys }})</li>
            <li>Money ({{ turn.available_money }})</li>
        </ul>
        {% endif %}
        <div id="cards-in-deck">
            Cards in Deck: {{ deck.draw_pile|length }}
        </div>
        <div id="cards-in-discard">
            Cards in discard: {{ deck.discard_pile|length }}
        </div>
        {% if turn %}
        <div id="end-phase">
            <form method="POST" action="{% url 'turns_end_phase' turn_id=turn.pk %}">
                {% csrf_token %}
                <button>End Phase</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div id="body">
        <h2>KINGDOM</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Card</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              {% for row in game.real_kingdom.values %}
              <tr>
                <td>{{ row.card.name }}</td>
                <td>{{ row.count }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="hand">
    <table class="table">
        <tbody>
          {% for card in deck.real_hand %}
          <tr>
            <td>{{ card }}</td>
            <td><button>Play</button></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
