{% extends "base.html" %}

{% block content %}
{% if turn %}
<h1>{{ player }} (Your turn)</h1>
<table class="table">
    <tbody>
      <tr>
        <td>Actions</td>
        <td>{{ turn.available_actions }}</td>
      </tr>
      <tr>
        <td>Buys</td>
        <td>{{ turn.available_buys }}</td>
      </tr>
      <tr>
        <td>Money</td>
        <td>{{ turn.available_money }}</td>
      </tr>
    </tbody>
</table>
{% else %}
<h1>{{ player }} (Not your turn)</h1>
{% endif %}
<h2>HAND</h2>
<ul>
    {% for card in deck.real_hand %}
    <li>{{ card }}</li>
    {% endfor %}
</ul>
<h2>DECK</h2>
<p> {{ deck.draw_pile|length }}</p>
<h2>DISCARD</h2>
<p> {{ deck.discard_pile|length }}</p>
<h2>KINGDOM</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Card</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for row in game.real_kingdom.values %}
      <tr>
        <td>{{ row.card.name }}</td>
        <td>{{ row.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock content %}