body {
    border: 10px solid black;
    padding: 2%;
    margin: 0;
}

div.flex {
	display: flex;
}
div.flex #right-sidebar {
	flex: 10%;
}
div.flex #body {
	flex: 80%;
}
div.flex #left-sidebar {
	flex: 10%;
}
.sidebar {
	background-color: #EEE;
	padding: 10px;
}
#body {
	padding: 10px;
}

span.card {
	display: inline-block;
	height: 140px;
	width: 100px;
	padding: 10px;
	margin: 5px;
	text-align: center;
}


#played-cards,
#hand {
	min-height: 150px;
}

.centered {
	text-align: center;
}
.pull-right {
	float: right;
}
