<span class="card{% if in_hand %} in_hand{% endif %}"
    data-name="{{card.name}}"
    {% if in_hand %}
        draggable="true"
        {%if turn.state == 'action' and turn.available_actions > 0 %}
            {%if card.is_action%}
                data-url="{%url 'games_play_action' game_id=game.pk%}"
            {%endif%}
        {%endif%}
        {% comment %} TODO do not allow buy if none in supply {% endcomment %}
        {%if turn.state == 'buy'%}
            {%if card.is_treasure%}
                data-url="{%url 'games_play_treasure' game_id=game.pk%}"
            {%endif%}
        {%endif%}
    {% elif in_kingdom %}
        {%if turn.state == 'buy' and turn.available_buys > 0 %}
            data-url="{%url 'games_buy_kingdom_card' game_id=game.pk%}"
        {%endif%}
    {% endif %}
    >
    <img src="{{ card.url }}" />
    {% if in_kingdom %}
        <div class="count">{{ count }}</div>
    {% endif %}
</span>
